@charset "UTF-8";

html {
	background-color: rgb(115,115,115);
	font: normal 100%/1.5 Myriad Pro;
}

header {
	background-color: rgb(130,130,130);
	height: 218px;
}

#categories {
	background-color: rgb(55,55,55);	/*This provides the background to the subnav.  I would like it to scale to the required dimensions depending on the quantity of links.*/
	height: 30px;
}

body {
	width: 1000px;
	margin: 0 auto;
	height: 100em;
	background-color: #fff;
}

h1 {
	padding: 0;
	width: 13%;
	margin: 0 auto;
	/*float: left;
	padding-left: 10%;
	padding-right: 2px;
	padding-top: 0em;*/
	font-weight: 100;
	font-size: 1.6em;
	color: #fff;
}

h2 {
	padding: 0;
	margin: 0;
	font-style: italic;
	padding-top: 0.05em;
	padding-right: 10%;
	font-weight: 100;
	font-size: 1.6em;
	color: #fff;
}

#title {
	text-align: center;
}

#slider {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 130px;
	overflow: auto;
	padding-left: 11px;
}

.slider_image {
	clear: right;
	margin: 0;
	padding: 0;
	display: inline;
	float: left;
}

/*#navbar {
	width: 100%;
	height: 45px;
	background-color: rgb(204,153,51);
	background-color: rgb(130,130,130);
}*/

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

nav li {
	margin: 0;
	padding: 0;
	display: inline;
	padding-left: 30px;
	padding-right: 30px;
}

nav a,
nav  a:link,
nav a:visited {
	display: inline-block;
	border-radius: 4px 4px 4px 4px;
	background-color: #e2e2e2;
	padding: 0.3em 1em;
	text-decoration: none;
	color: #000;
	margin-top: 7px;
}

nav a:hover,
nav .current a,
nav .current a:link,
nav .current a:visited {
	background-color: #fff;
}

/*.category-nav {
	display: inline;
	float: left;
}*/

nav2 ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

nav2 li {
	margin: 0;
	padding: 0;
	display: inline;
}

nav2 a,
nav2  a:link,
nav2 a:visited {
	display: inline-block;
	/*border-radius: 4px 4px 0 0;*/
	background-color: #e2e2e2;
	padding: 0.2em 1em;		/*This provides the height and width of the button.*/
	text-decoration: none;
	color: #000;
	margin-top: 0px;
}

nav2 a:hover,
nav2 .current a,
nav2 .current a:link,
nav2 .current a:visited {
	background-color: #fff;
}

nav2 ul {
	margin: 0em;
	padding: 0em;
	padding-top: 0em;
	padding-left: 0em;
}

#image-pane {
	height: 200px;
	width: 100%;
	background-color: rgb(201,201,201);
	border-bottom: 15px;
	border-bottom-color:#0D0D0D;
}

#photo {
	float: left;
	margin-left: 20px;
}

#image_data {
	display: inline-block;
	width: 40em;
	padding-left: 20px;
	font-size:;
}

